@import "tailwindcss";

@theme {
  --color-primary: #FFFFFF;
  --color-primary-black: #000000;
  --color-secondary-color: #E7FAFE;
  --color-secondary-item: #E7F9FD;
  --font-inter: "Inter", "sans-serif";
}

@layer components {
  .list{
    @apply font-medium text-base text-primary-black tracking-[-2%];
  }
  .container {
    @apply mx-auto !max-w-[1280px];
  }
}
